<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Disponemos de servicios en desarrollo web para necesidades específicas y muy frecuentes en muchos de nuestros clientes. Echales un vistazo y cuéntanos que necesitas">
	<meta name="author" content="Jesus Liñan">
    <title>Servicios Web | RibosoMatic</title>

    <!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="img/favicon.png">
	<link rel="apple-touch-icon" href="img/favicon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon.png">
	
	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
	<link rel="stylesheet" type="text/css" href="css/vendor/slick.css">
  	<link rel="stylesheet" type="text/css" href="css/vendor/slick-theme.css">
	
	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/cols.css" />
	<link rel="stylesheet" type="text/css" href="css/form.css" />
	<link rel="stylesheet" type="text/css" href="css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/table.css" />
</head>
<body>
	<!-- BACK TO TOP SECTION -->
	<a href="#0" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<!-- HEADER -->
	<div class="wrap-container header">
		<div class="container clear">
			<img src="img/logo-white.png" alt="logo" class="logo "/>
			<a href="#contact" class="btn-link btn-contact"><span>Contactanos</span></a>
		</div>
	</div>
    <!-- SLIDER MAIN -->
    <div id="oc-fullslider" class="banner">
    	<div class="owl-carousel owl-theme full-screen">
	    	<div class="item">
	        	<img src="img/slide1.jpg" alt="Imagen del servicio ofrecido">
	        	<div class="overlay-bg"></div>
	        	<div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
	            		<h5 class="caption-supheading">Creamos y configuramos</h5>
		                <h1 class="caption-heading">Tu sitio web con WordPress</h1>
		                <a href="#website-wordpress" class="btn-link"><span>Ver detalles</span></a>
		            </div>  
	            </div>
	    	</div>
	    	<div class="item">
	            <img src="img/slide2.jpg" alt="Imagen del servicio ofrecido">
	            <div class="overlay-bg"></div>
	            <div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
		                <h5 class="caption-supheading">Convertimos tu diseño</h5>
		                <h1 class="caption-heading">Photoshop, Illustrator, Corel a <br/ >HTML adaptable</h1>
		                <a href="#design-to-html" class="btn-link"><span>Ver detalles</span></a>
		            </div>  
	            </div>
	        </div>
	        <div class="item">
	            <img src="img/slide3.jpg" alt="Imagen del servicio ofrecido">
	            <div class="overlay-bg"></div>
	            <div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
		                <h5 class="caption-supheading">Desarrollamos</h5>
		                <h1 class="caption-heading">Widget personalizados <br/ >para tu sitio web</h1>
		                <a href="#widgets" class="btn-link"><span>Ver detalles</span></a>
		            </div>  
	            </div>
	        </div>
			<div class="item">
	            <img src="img/slide4.jpg" alt="Imagen del servicio ofrecido">
	            <div class="overlay-bg"></div>
	            <div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
		                <h5 class="caption-supheading">Configuramos tus</h5>
		                <h1 class="caption-heading">Correos Corporativos</h1>
		                <a href="#corporate-emails" class="btn-link"><span>Ver detalles</span></a>
		            </div>  
	            </div>
	        </div>
    	</div>
	    <div class="custom-nav owl-nav"></div>
    </div>

	<!-- INTRO -->
	<div id="intro" class="wrap-container">
		<div class="container">
			<div class="block-content block-intro">
				<h1>¡Hola somos RibosoMatic!</h1>
				<p>Nos hemos especializado en brindar ayuda a lo largo de los años sobre <strong>desarrollo web</strong> puedes revisar 
					nuestro <a title="Mira nuestro blog!" href="https://www.ribosomatic.com/">blog</a> y ver nuestros aportes. Pero también disponemos de servicios en los cuales tenemos mucha experiencia, 
					para necesidades específicas y muy frecuentes en muchos de nuestros clientes. Echales un vistazo y cuéntanos que necesitas.
				</p>
				<p class="mb40"></p>
				<h4>últimos proyectos</h4>
				<div class="works">
						<div class="work">
							<a href="https://5c.com.pe/" target="_blank">
								<img src="img/web1.jpg" alt="customer" />
								<span class="work-title">Maquinarias Pesadas 5C</span>
							</a>
						</div>
						<div class="work">
							<a href="https://ristr3tto.com/" target="_blank">
								<img src="img/web2.jpg" alt="customer" />
								<span class="work-title">Ristr3tto Coffee Shop</span>
							</a>
						</div>
						<div class="work">
							<a href="http://www.olperunorte.com/" target="_blank">
								<img src="img/web3.jpg" alt="customer" />
								<span class="work-title">OLP Logistica Industrial</span>
							</a>
						</div>
						<div class="work">
							<a href="https://www.zipago.pe/" target="_blank">
								<img src="img/web4.jpg" alt="customer" />
								<span class="work-title">ZiPago Comercio & Recaudo</span>
							</a>
						</div>
						<div class="work">
							<a href="https://djuliette.ribosomatic.com/" target="_blank">
								<img src="img/web5.jpg" alt="customer" />
								<span class="work-title">D'Juliette Panaderia WebApp</span>
							</a>
						</div>
						<div class="work">
							<a href="https://www.zetzun.com/" target="_blank">
								<img src="img/web6.jpg" alt="customer" />
								<span class="work-title">Zetzun E-commerce</span>
							</a>
						</div>
				</div>
			</div>
		</div>
	</div>

	<!-- SERVICIOS  -->
	<div id="website-wordpress" class="wrap-container">
		<div class="service-block service-align-left parallax-service1" data-parallax="scroll" data-z-index="2">
		</div>
		<div class="container cols-container">
			<div class="cols-6-md">
			</div>
			<div class="cols-6-md">
				<div class="block-content service-detail">
					<h2>Creamos y configuramos tu sitio web con WordPress</h2>
					<h5>Un sitio web de WordPress de calidad no es un gasto, sino una inversión para impulsar tu negocio.</h5>
					<p>Elige una plantilla o diseñamos a medida.</p>
					<p>Diseño responsivo, veloz y seguro.</p>
					<p>Incluyes slides, formularios, pop-ups, mapas, redes sociales y más.</p>
					<p>Capacitación para usar el gestor.</p>
					<p>¿No tienes dominio, hosting? Te asesoramos para conseguirlos.</p>
					<p class="mb30"></p>
					<a href="#" class="btn-link" data-fancybox="dialog" data-src="#wp-plans"><span>Ver planes</span></a> 
					<a href="#contact" class="btn-link"><span>Cotízame</span></a>
					<!-- plans -->
					<div id="wp-plans" class="dialog">
						<table class="tables">
							<thead>
								<tr>
									<th>Paquete</th>
									<th>Básico</th>
									<th>Estándar</th>
									<th>Premium</th>
								</tr>
							</thead>  
							<tbody>
								<tr>
									<td></td>
									<td>
										<ul>
											<li>Instalación de WordPress responsivo</li>
											<li>Landing page o diseño de sitio web de 1 página</li>
											<li>Redes sociales</li>
											<li>Formulario de contacto</li>
										</ul>
									</td>
									<td>
										<ul>
											<li>Instalación de WordPress responsivo</li>
											<li>4 páginas</li>
											<li>Popup</li>
											<li>Livechat</li>
											<li>Google Maps</li>
										</ul>
									</td>
									<td>
										<ul>
											<li>Instalación de WordPress responsivo</li>
											<li>10 páginas</li>
											<li>SEO</li>
											<li>Velocidad y seguridad</li>
											<li>E-commerce</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>Personalización del diseño</td>
									<td class="align-center"><i class="fas fa-check"></i></td>
									<td class="align-center"><i class="fas fa-check available"></i></td>
									<td class="align-center"><i class="fas fa-check available"></i></td>
								</tr>
								<tr>
									<td>Cargamos el contenido a tu hosting, caso contrario enviamos el comprimido</td>
									<td class="align-center"><i class="fas fa-check available"></i></td>
									<td class="align-center"><i class="fas fa-check available"></i></td>
									<td class="align-center"><i class="fas fa-check available"></i></td>
								</tr>
								<tr>
									<td>Diseño adaptable / responsivo</td>
									<td class="align-center"><i class="fas fa-check available"></i></td>
									<td class="align-center"><i class="fas fa-check available"></i></td>
									<td class="align-center"><i class="fas fa-check available"></i></td>
								</tr>
								<tr>
									<td>Cantidad de páginas</td>
									<td class="align-center">1</td>
									<td class="align-center">4</td>
									<td class="align-center">10</td>
								</tr>
								<tr>
									<td>Instalación de Plugins</td>
									<td class="align-center">2</td>
									<td class="align-center">4</td>
									<td class="align-center">6</td>
								</tr>
								<tr>
									<td>Funcionalidad e-commerce (incluye capacitación)</td>
									<td class="align-center"><i class="fas fa-check"></i></td>
									<td class="align-center"><i class="fas fa-check"></i></td>
									<td class="align-center"><i class="fas fa-check available"></i></td>
								</tr>
								<tr>
									<td>Cantidad de productos a subir</td>
									<td class="align-center">-</td>
									<td class="align-center">-</td>
									<td class="align-center">20</td>
								</tr>
								<tr>
									<td>Revisiones de errores / modificaciones</td>
									<td class="align-center">5</td>
									<td class="align-center">Ilimitadas</td>
									<td class="align-center">Ilimitadas</td>
								</tr>
								<tr>
									<td>Tiempo de entrega (desde el inicio de contrato)</td>
									<td class="align-center">5 días</td>
									<td class="align-center">7 días</td>
									<td class="align-center">10 días</td>
								</tr>
							</tbody>  
						</table>
					</div>
					<!-- /plans -->
				</div>
			</div>
		</div>
	</div>
	<div id="design-to-html" class="wrap-container">
		<div class="service-block service-align-right parallax-service2"  data-parallax="scroll">
		</div>
		<div class="container cols-container">
			<div class="cols-6-md">
				<div class="block-content service-detail">
					<h2>Convertimos el diseño visual de tu web a HTML</h2>
					<h5>Dale vida al diseño grafico de tu sitio al pasarlo a HTML</h5>
					<p>Envianos tu diseño hecho en Photoshop, Illustrator, Gimp, Corel u otro, y según tus indicaciones
						lo pasamos a HTML, CSS y JavaScript.
					</p>
					<p>El resultado: un diseño web que cumple los estandares actuales de HTML5, CSS3. 
					<p>Diseño web responsivo, optimización de velocidad de carga y compatibilidad SEO</p>
					<p class="mb30"></p>
					<a href="#" class="btn-link" data-fancybox="dialog" data-src="#convert-plans"><span>Ver planes</span></a> 
					<a href="#contact" class="btn-link"><span>Envianos tu diseño</span></a>
					<!-- plans -->
					<div id="convert-plans" class="dialog">
						<table class="tables">
							<thead>
								<tr>
									<th>Paquete</th>
									<th>Básico</th>
									<th>Estándar</th>
									<th>Premium</th>
								</tr>
							</thead>  
							<tbody>
								<tr>
									<td></td>
									<td>
										<ul>
											<li>Una página en HTML, CSS, adaptable</li>
										</ul>
									</td>
									<td>
										<ul>
											<li>2 páginas en HTML, CSS, adaptable</li>
										</ul>
									</td>
									<td>
										<ul>
											<li>5 páginas en HTML, CSS, adaptable</li>
											<li>Un mes de mantenimiento</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>Revisiones de errores / modificaciones</td>
									<td>5</td>
									<td>Ilimitadas</td>
									<td>Ilimitadas</td>
								</tr>
								<tr>
									<td>Tiempo de entrega (desde el inicio de contrato)</td>
									<td>1 día</td>
									<td>2 días</td>
									<td>3 días</td>
								</tr>
							</tbody>  
						</table>
					</div>
					<!-- /plans -->
				</div>
			</div>
			<div class="cols-6-md">
			</div>
		</div>
	</div>
	<div id="widgets" class="wrap-container">
		<div class="service-block service-align-left parallax-service3"  data-parallax="scroll" data-z-index="2">
		</div>
		<div class="container cols-container">
			<div class="cols-6-md">
			</div>
			<div class="cols-6-md">
				<div class="block-content service-detail">
					<h2>Widget para tu sitio web</h2>
					<h5>Añade funcionalidades extrar con tus clientes.</h5>
					<p>Los widgets son complementos que puedes insertar en tu web utilizando código HTML y JavaScript. 
						De esta manera, los widgets te permiten proporcionar muchas características adicionales a tus visitantes y 
						ayudar a que tu web sea más exitosa.</p>
					<p>Desarrollamos un widget personalizados a tus necesidades y requerimientos.</p>
					<p>Desde un feed de Instragram, popup, un deslizador de testimonios, un cotizador, un deslizador para 
						apartamentos en venta o alquiler, Google Maps, galería de fotos y mucho mas. </p>
					<p class="mb30"></p>
					<a href="#contact" class="btn-link"><span>Explicanos tu requerimiento</span></a>
				</div>
			</div>
		</div>
	</div>
	<div id="corporate-emails" class="wrap-container">
		<div class="service-block service-align-right parallax-service4"  data-parallax="scroll">
		</div>
		<div class="container cols-container">
			<div class="cols-6-md">
				<div class="block-content service-detail">
					<h2>Correo corporativo</h2>
					<h5>Usa del correo electrónico como medio de comunicación empresarial</h5>
					<p>Te ayudamos a obtener tus cuenta corporativas, desde configurarlas en tu propio hosting o asesorarte
						para conseguir el hosting adecuado a tus necesidades, hasta cuentas en servicios como 
						<a href="https://workspace.google.com/intl/es-419/pricing.html">Google Workspace</a> o Zoho Mail
					</p>
					<p>En caso Zoho Mail, puedes tener 5 cuentas gratuitas de 5GB cada una.</p>
					<p class="mb30"></p>
					<a href="#contact" class="btn-link"><span>Deseo correo corporativo</span></a>
				</div>
			</div>
			<div class="cols-6-md">
			</div>
		</div>
	</div>

	<!-- CONTACT -->
	<div id="contact" class="wrap-container wrap-footer">
		<div class="container cols-container">
			<div class="cols-6-md">
				<div class="block-content big-text">
					<p>Empieza a <br/> mejorar la forma <br /> en que te ven <br /> tus clientes en internet</p>
				</div>
			</div>
			<div class="cols-6-md">
				<div class="block-content">
					<form id="form-contact" class="form mb40">
						<label>
							<span>Nombres</span>
							<input type="text" name="Names" required />
						</label>
						<label>
							<span>Correo</span>
							<input type="email" name="Email" required />
						</label>
						<label>
							<span>Número móvil / Whatsapp</span>
							<input type="tel" name="Whatsapp" required />
						</label>
						<label>
							<span>Consulta</span>
							<textarea rows="4" name="Consult"></textarea>
						</label>
						<div class="">
							<button class="btn-link"><span>Enviar mi consulta</span></button>
						</div>
					</form>
					<div id="response" class="response"></div>
				</div>
			</div>
			
		</div>
	</div>
    <!-- FOOTER -->
	<div class="wrap-container wrap-footer">
		<div class="container footer cols-container">
			<div class="cols-2-md"></div>
			<div class="cols-4-md">
				<p>Escribenos</p>
				<p class="mb40"><a href="mailto:hello@ribosomatic.com">hello@ribosomatic.com</a></p>
			</div>
			<div class="cols-4-md">
				<p>¿Te es útil este landing page?</p>
				<p class="mb40"><a href="https://github.com/jesusvld/RibosoMatic-Landing">Descargalo de Github</a></p>
			</div>
			<div class="cols-2-md"></div>
		</div>
		<div class="container footer">
			<img src="img/logo-white.png" alt="Logo RibosoMatic" />
			<p class="mb40">Ribosomatic.com Copyright © 2005 - 2021</p>
		</div>
	</div>

    <!-- JS VENDOR -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
	<script src="js/vendor/owl.carousel.js"></script>
	<script src="js/vendor/parallax.js"></script>
	<script src="js/vendor/anchor.js"></script>
	<script src="js/vendor/slick.min.js" type="text/javascript" charset="utf-8"></script>

	<script src="js/script.js"></script>
	<!-- GetButton.io widget -->
	<script type="text/javascript">
		(function () {
			var options = {
				facebook: "120993816268", // Facebook page ID
				whatsapp: "+51942484080", // WhatsApp number
				call_to_action: "Envíanos un mensaje", // Call to action
				button_color: "#129BF4", // Color of button
				position: "left", // Position may be 'right' or 'left'
				order: "facebook,whatsapp", // Order of buttons
			};
			var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
			var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
			s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
			var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
		})();
	</script>
	<!-- /GetButton.io widget -->
</body>
</html>